<div
  *ngIf="items.length == 0"
  class="container mt-5"
  [@orderComponentState]="orderComponentState"
>
  <div class="jumbotron">
    <h1 class="display-4 text-center">
      <i class="fa fa-shopping-cart"></i>
      <br />
      <button
        class="btn btn-lg"
        style="background-color: hsla(9, 100%, 64%, 0);"
      >
        <span class="badge backgroundGreenBanese">0 itens!</span>
      </button>
    </h1>
    <p class="lead text-center">
      Você ainda não adicionou nenhum produto ao seu carrinho! Que tal começar?
    </p>
    <hr class="my-4" />
    <a [routerLink]="['/restaurantes']" class="mx-auto ">
      <button
        class="d-block mx-auto btn backgroundGreenBanese btn-lg text-white"
      >
        Ver Restaurantes!
      </button>
    </a>
  </div>
</div>

<div *ngIf="items.length > 0" [@orderComponentState]="orderComponentState">
  <div class="row ml-2 mt-2">
    <h3 class="ml-2 font-weight-light">
      <i class="fa fa-shopping-cart"></i>
      {{ "   " }}Finalize sua compra
    </h3>
  </div>
  <div class="dropdown-divider"></div>
  <h4 class="ml-3 mb-0 font-weight-light float-md-left">
    Endereço de entrega
  </h4>
  <form [formGroup]="infoPedido">
    <div class="input-group mb-3 col col-md-4 float-md-right">
      <input
        type="text"
        class="form-control"
        placeholder="Recipient's username"
        formControlName="cep"
      />
      <div class="input-group-append">
        <button
          class="btn backgroundGreenBanese"
          (click)="consultaCep(infoPedido.controls['cep'].value)"
        >
          Consultar
        </button>
      </div>
    </div>
  </form>

  <form [formGroup]="infoPedido" class="mb-2 ml-2 mr-2">
    <!-- <button
      (click)="consultaCep(infoPedido.controls['cep'].value)"
      class="btn backgroundGreenBanese float-md-right "
    >
      Pesquisar
    </button>
    <div class="float-md-right">
      <input
        formControlName="cep"
        class="form-control mb-2"
        placeholder="Digite seu CEP"
      />
    </div> -->

    <div class="clearfix"></div>
    <div class="form-row">
      <div class="mt-2 col-md-6 ">
        <!-- injeção de conteúdo -->
        <app-input>
          <input
            class="form-control"
            formControlName="rua"
            placeholder="Endereço*"
          />
        </app-input>
      </div>

      <div class="mt-2 col-md-2">
        <app-input>
          <input
            class="form-control"
            formControlName="numero"
            placeholder="Número*"
          />
        </app-input>
      </div>
      <div class="mt-2 col-md-4">
        <app-input>
          <input
            class="form-control"
            formControlName="complemento"
            placeholder="Complemento"
          />
        </app-input>
      </div>
    </div>
    <div class="form-row mt-2">
      <div class="col-4 col-md-5">
        <app-input>
          <input
            class="form-control"
            formControlName="cidade"
            placeholder="Cidade*"
          />
        </app-input>
      </div>
      <div class="col-4 col-md-5 ">
        <app-input>
          <input
            class="form-control"
            formControlName="bairro"
            placeholder="Bairro*"
          />
        </app-input>
      </div>
      <div class="col-4 col-md-2">
        <app-input>
          <input
            class="form-control"
            formControlName="estado"
            placeholder="Estado*"
          />
        </app-input>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <h4 class="ml-2 font-weight-light">
      Dados pessoais
    </h4>
    <form [formGroup]="infoPedido" class="form-row">
      <div class="col-md-4">
        <app-input>
          <input
            class="form-control"
            formControlName="nome"
            placeholder="Digite seu nome"
          />
        </app-input>
      </div>
      <div class="col-md-4">
        <app-input>
          <input
            class="form-control"
            formControlName="email"
            placeholder="Digie seu e-mail"
          />
        </app-input>
      </div>

      <div class="col-md-4 ">
        <app-input>
          <input
            class="form-control"
            formControlName="confirmaEmail"
            placeholder="Confirme seu e-mail"
          />
        </app-input>
        <small
          *ngIf="infoPedido.hasError('emailsNotMatch')"
          class="text-danger container"
        >
          Os e-mails precisam ser iguais!
        </small>
      </div>
    </form>
  </form>
  <h4 class="ml-2 font-weight-light mt-4">
    Itens do Pedido
  </h4>

  <!-- início da tabela com os ítems -->
  <app-order-items></app-order-items>
  <!-- final da tabela com os itens -->

  <!-- início da sessão de forma de pagamento + frete-->

  <app-finalize-order
    *ngIf="this.items.length > 0"
    [formData]="infoPedido"
    (enviarCodPag)="receberFormaPagamento($event)"
    (emitirItensPedido)="receberItensPedido($event)"
  ></app-finalize-order>

  <!-- final das formas de pagamento + frete -->
</div>
