<div *ngIf="items.length == 0" class="container mt-5">
  <p>
    Você ainda não adicionou nenhum produto ao seu carrinho! Que tal começar?
    <a [routerLink]="['/restaurantes']" class="mx-auto ">
      <button
        class="d-flex float-right btn btn-sm backgroundGreenBanese text-white"
      >
        Restaurantes
      </button>
    </a>
  </p>
</div>

<div *ngIf="items.length > 0">
  {{ endereco.status }} <br />
  {{ endereco.value | json }}
  <div class="row ml-2 mt-2">
    <h3 class="ml-2 font-weight-light">
      <i class="fa fa-shopping-cart"></i>
      {{ "   " }}Finalize sua compra
    </h3>
  </div>
  <div class="dropdown-divider"></div>
  <h4 class="ml-2 font-weight-light">
    Endereço de entrega
  </h4>
  <form [formGroup]="endereco" class="mb-2 ml-2 mr-2">
    <div class="row">
      <div class="col-6">
        <input
          name="rua"
          type="text"
          class="form-control"
          placeholder="Rua / Avenida / Travessa"
          formControlName="rua"
        />
      </div>
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          placeholder="Número"
          formControlName="numero"
        />
      </div>
      <div class="col-4">
        <input
          type="text"
          class="form-control"
          placeholder="Complemento"
          formControlName="complemento"
        />
      </div>
    </div>
  </form>
  <h4 class="ml-2 font-weight-light mt-4">
    Itens do Pedido
  </h4>

  <!-- início da tabela com os ítems -->
  <app-order-items></app-order-items>
  <!-- final da tabela com os itens -->

  <!-- início da sessão de forma de pagamento + frete-->

  <app-finalize-order
    *ngIf="this.items.length > 0"
    [formData]="endereco"
    (enviarCodPag)="receberFormaPagamento($event)"
  ></app-finalize-order>

  <!-- final das formas de pagamento + frete -->
</div>
