<div class="row">
  <div class="col-sm-6 mb-2" *ngFor="let item of itensRestaurante">
    <div class="card">
      <div class="card-body">
        <img [src]="item?.imagePath" class="card-img-top w-25 float-left" alt="..." />
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">
          {{item.description}}
        </p>
        <small>{{item.price | currency }}</small>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
</div>
