<div class="row">
  <div *ngFor="let restaurante of restaurantes" class="col-md-6 mt-2">
    <div class="card">
      <div class="card-body">
        <img
          class="card-img-top w-25 float-right"
          [src]="restaurante.imagePath"
          alt="Imagem de capa do card"
        />
        <small> Nota: {{ restaurante.rating }} </small>
        <h5 class="card-title">{{ restaurante.name }}</h5>
        <p class="card-text">
          {{ restaurante.category }}
        </p>
        <a [routerLink]="['/restaurantes', restaurante.id]"  class="btn backgroundGreenBanese">Visitar</a>
      </div>
    </div>
  </div>
</div>
